{%- if site.work.size > 0 -%}
	<ul class="post-list">
		
		{%- if include.featured-only == true -%}
			{%- assign work_list = site.work | sort: "featured" -%}	
		{%- else -%}
			{%- assign work_list = site.work -%}
		{%- endif -%}
		
		{%- for work in work_list -%}
			{%- comment -%} Frustratingly, Liquid does not appear to have a bunch of useful logical syntax. This is the best I could do. {%- endcomment -%}
			{%- if include.featured-only == false or include.featured-only == nil or work.featured -%}
				<li>
					<header class="feed-item__header">
                        <h3>
                            <a class="post-link" href="{{ work.url | relative_url }}">
                                {{ work.title | escape }}
                            </a>
                        </h3>
                        <span class="post-meta">{{ work.time-period }}</span>
                    </header>

					{%- if work.description -%}
						<p>{{ work.description }}</p>
					{%- endif -%}
                    
                    {%- if work.image -%}
                        <a href="{{ work.url | relative_url }}">
                            <img class="feed-item__image" src="../assets/img/{{ work.image }}" alt="{{ work.image-description}}"/>
                        </a>
                    {%- endif -%}
				</li>
			{%- endif -%}
		{%- endfor -%}
	</ul>
{%- endif -%}