<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <h2 class="footer-heading">{{ site.title | escape }}</h2>
                <p>{{- site.description | escape -}}</p>
            </div>

            <div class="footer-col footer-col-2">
            </div>

            <div class="footer-col footer-col-3">
                <h3 class="contact-list__header">Contact</h3>
                <ul class="contact-list">
                    <li>
                        <a href="https://www.linkedin.com/in/jared-goodwin-ba4b3a82/">LinkedIn</a>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</footer>
