/**
 * Site header
 */
.site-header {
    border: 0 solid transparent; //Fixes border image appearing on all four 
                                    //borders on some mobile browsers.
    border-top: 5px solid $grey-color-dark;
    border-image: linear-gradient(to right, #7ae2cb 0%, #e2cb7a 50%, #e27a91 100%) 5;
    //border-image: linear-gradient(to right, #7ae2cb 0%, #7ae2cb 33%, #e2cb7a 33%, #e2cb7a 66%, #e27a91 66%, #e27a91 100%) 5;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 30px * 1.865;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header:after{
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid $grey-color-light;
 
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
	float: right;
	line-height: $base-line-height * $base-font-size * 2.25;

	.nav-trigger {
		display: none;
	}

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;
		font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;

    	// Gaps between nav items, but not on the last one
    	&:not(:last-child) {
            margin-right: 36px; //changed
    	}
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
            fill: $grey-color-dark;
            }
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
               margin-right: 0;
            }
            margin-left: 20px;


            //&.home-styled-text { /* CSS specificty override. Probably not the best solution. */
                //@extend .home-styled-text;
                //color: $text-color !important;
                //font-size: 1.3em !important; //hard-coded to match, make variable 
                //text-shadow: none;
            //}
        }
    }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

//Content - page or post
//  Blank for now. Created to treat headers differently on posts than pages.
.content {
    
}


/**
 * Page content
 */
//This is an element that exists on all pages, higher up than content or post 
//  content. ...Should maybe be renamed? 'Page' as in not-a-post and 
//  'Page' as in any page can be confusing to differentiate
.page-content {
    padding: $spacing-unit 0;
    flex: 1 1 0; // Changed: Second and third parameters are just defaults, 
                    //and given for IE compatibility.
}

.page-heading {
  @include relative-font-size(2);
}

.feed-heading { //Changed name
  @include relative-font-size(1.75);
    padding-bottom: $spacing-unit / 3;
    border-bottom: 1px solid $grey-color;
}

.feed-heading--work{
    @extend .feed-heading;

}

.feed { //Changed name
    margin-left: 0;
    list-style: none;
    float: left; //Added
    //width: 100%;  //Caused problem on Blog page with floated elements.

    > li {
        margin-bottom: $spacing-unit;
        
        @include media-query($on-palm){
            //margin-bottom: $spacing-unit / 2;   
        }
    }
}

.feed__wrapper{
    @extend %clearfix;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post { //Added
    @extend .wrapper;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 12));
	max-width:         calc(#{$content-width} - (#{$spacing-unit} * 12));

  	@include media-query($on-palm) {
    	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    	max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    	padding-right: 0;
    	padding-left: 0;
  }
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
    @extend .content !optional; //remove !optional if content gets rules
    margin-bottom: $spacing-unit;

    h2 {
        @include relative-font-size(2);

        @include media-query($on-laptop) {
          @include relative-font-size(1.75);
        }
    }

    h3 {
        @include relative-font-size(1.625);

        @include media-query($on-laptop) {
          @include relative-font-size(1.375);
        }
    }

    h4 {
        @include relative-font-size(1.25);

        @include media-query($on-laptop) {
          @include relative-font-size(1.125);
        }
    }
    
    h2, h3, h4, h5, h6 {
        margin-top: $spacing-unit + 2px;
        margin-bottom: $spacing-unit / 3;
    }
    
    h2 + h2, h2 + h3, h3 + h3, h3 + h4, h4 + h4, h4 + h5, h5 + h5, h5 + h6, h6 + h6 {
        margin-top: 0;   
    }
    
}


/* -------------------------------------------- */
/* BEGINNING OF NEW, NON-MINIMA-DERIVED CLASSES */
/* -------------------------------------------- */

/* Credit to https://css-tricks.com/full-browser-width-bars/ for this great
    implementation of a class that allows a background to 'break out' of the 
    padding and/or width currently set for its element.*/
.full-width-background{
    position: relative;
    z-index: 0;
}

.full-width-background:before {
    content: "";
    background-color: inherit;
    background-image: inherit;
    position: absolute;
    height: 100%;
    //width: 9000px;
    //left: -4500px;
    width: 103vw;
    left: -$common-padding;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.site-header--home {
    @extend .site-header;
    position: absolute;
    border-image: none;
    border-top-width: inherit;
    border-top-color: transparent;
    border-bottom-width: inherit;
    border-bottom-color: transparent;
    width: 100%;
    z-index: 9999;
    margin-bottom: -$spacing-unit;
}

.site-header--home:after{
    border-top-color: transparent; 
}

.home-styled-text{
    text-shadow: .0575em .0575em .025em rgba(0,0,0,.6);
    color: white;
}

//CSS Override for front page nav buttons. Not the best solution.
.site-nav .home-styled-text{
    @extend .home-styled-text;
    
    @include media-query($on-palm) {
        color: black;
        text-shadow: none;
        font-size: 1.3em; //Hard-coded to match - make into a variable.
    }
}

.col-display{
    display: flex;
    flex-wrap: wrap;
}

.col--half{
    min-width: 450px;
    box-sizing: border-box;
    flex: 1;
    
    @include media-query($on-palm) {
        min-width: 100%;    //A bit strange, but works for all browsers tested
                            //   (instead of, for example, min-width: auto,
                            //    which doesn't work in IE11).
        padding-right: 0;
    }
    
    padding-right: 64px;
}

/**
 * Home Page
 **/
.home-banner-text-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.home-banner{
    height: 750px;
    width: 100%;
    display: table;
    background-color: #71cfb3;
    background-image: url("../assets/img/home-header-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    @include media-query($on-palm){
        height: 75vh;
        max-height: 550px;
    }
}

//Wrapping all of uses of full-width-background with a wrapper works for now,
//  but isn't a great long-term solution for the overflow issue. 
//  Something else possible?
.full-width-background-wrapper{
    overflow-x: hidden;   
}

.home-banner h1{
    font-size: 5em;
    font-family: "Porter Bold", "Trebuchet MS", sans-serif;
    margin-bottom: 0;
    line-height: $base-line-height * 0.9;
    
    
    @include media-query($on-palm){
        font-size: 3em;
        font-size: 10vw;
    }
}

.home-banner h2{
    font-size: 2.5em;
    font-family: "Porter Light", "Trebuchet MS", sans-serif;
    margin-bottom: 28px;
    
    @include media-query($on-palm){
        font-size: 1.5em;
        font-size: 5vw;
    }
}

.home-banner p{
    //font-size: 1.25em;
    font-size: 1.3em;
    margin-left: .1em;
    margin-bottom: .675em;
    //font-family: 'Open Sans', sans-serif;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    
    @include media-query($on-palm){
        font-size: 1em;
    }
}

.home-banner__description{
    max-width: 800px;
    //margin-left: 8px;
}

/**
 * Feeds
 **/

.feed-heading{ //Changed name
    font-weight: 700;
    text-transform: uppercase;
}

.feed-item{
    
}

//Used to fix img margin-bottom causing extra margin to appear under each
//  feed-item, as margins do not collapse in a flex formatting context.
.feed-item *:last-child{    
    margin-bottom: 0;
}

.feed-item__text{
    margin-bottom: $spacing-unit / 2;
}

.post-categories{
    margin-bottom: $base-font-size / 1.75;
}

.feed-item__categories{
    @extend .post-categories;
    margin-bottom: $base-font-size / 3.3;
}

.post-categories__item {
    font-size: $base-font-size / 1.4;
    padding: .4em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .0175em;
    
    //text-transform: capitalize; //For series of inline elements - like <span> -
                                  //    only the first element is capitalized.
                                  //    Awkward. */
    background-color: $grey-color-light;
    
    //  Porter version  //
    //padding-bottom: .6em; //Porter isn't given consistent padding...
    //font-family: "Porter";
    //font-weight: 400;
    
    
    &:not(:last-child) {
        margin-right: .5em;
    }
}

.feed-item__categories-item{
    @extend .post-categories__item;
}

.feed-item__header{
    margin-bottom: $spacing-unit / 4;   
    
    h3 {
        margin-bottom: 0;   
    }
}

.feed-item__image{
    max-width: 550px;
    max-height: 325px;
    width: 100%;
}

.feed-categories{
    float: right;
    margin-right: 10%;
    padding-bottom: 6px;
    border-left: 1px solid $grey-color;
    
    h1, h2, h3, h4, h5, h6, p, a{
        padding-left: 24px;   
    }
    
    @include media-query($on-palm) {
        float: left;
    }
}

.feed-categories__list{
    margin-left: 0;
    list-style: none;
}

.feed-categories__list__category{
    padding-top: $spacing-unit / 4;
    padding-bottom: $spacing-unit / 4;
    display: block;
    cursor: pointer;
    //user-select: none;
    @extend %noselect;
}

.feed-categories__list__category:hover{
    background-color: $grey-color-light;
}

.feed-categories__list__category:active{
    background-color: darken($grey-color-light, 20%);
}

.page-meta{
    @extend .post-meta;
    font-size: 1em;
}

.category-title{
    color: $grey-color;
}

.work__wrapper{
    margin-bottom: 1.25em; //Added
}

.work__wrapper .feed{   //NOTE: CSS specificity is pretty high here...
    @extend .col-display;
    width: 100%;    //Quick fix to get all work feeds to display 100%, but not 
                    //  have the blog feed interfere with the floated category
                    //  on the blog page
    
    > li {
        padding-right: 64px;
        flex: 1 1 0;
	    min-width: 50%;
	    max-width: 50%;
        width: 50%;
	    box-sizing: border-box;
    
        @include media-query($on-laptop){
            padding-right: 0;
            max-width: 100%;
            width: 100%;
            flex: none;
        }
    }
}

.video-embed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit / 2;
}


%noselect{
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}

.IE-widthfix{
    width: 100%;
    
    @include media-query($on-palm){
        width: auto;   
    }
}

.selected{
    background-color: $selected-color;
    
    &:hover{
        background-color: $selected-color;
    }
    
    &:active{
        background-color: darken($selected-color, 20%);
    }
}

.image-custom figcaption {
    margin-bottom: $spacing-unit;
}

.image-custom--max-height{
    display: inline-block; //Allow images with a max-height to display next to each other
    margin-right: 16px;
    vertical-align: top;
    //margin-bottom: -1 * $spacing-unit / 2; //Deal with loss of collapsing margins
    
    figcaption {
        margin-bottom: 0; //Deal with loss of collapsing margins 
    }
}

.post-content__img-max-height{
    //max-height: 450px;
}


.video-embed__wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
    width: 100%;
}

.video-embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
