---
layout: default
---
<article class="page">

    <header class="post-header">
        <h1 class="post-title">Blog: <span class="category-title">{{ page.category | escape }} </span></h1>
        <h2>{{ page.sub-header | escape }}</h2>
        <span class="page-meta">{{ page.time-period }}</span>
    </header>
    
    {%- if page.image -%}
        <a href="{{ work.url | relative_url }}">
            <img src="/assets/img/{{ page.image }}" alt="{{ page.image-description}}"/>
        </a>
    {%- endif -%}

    <div class="post-content">
        {{ content }}
    </div>

</article>
