<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>
		{%- include header.html -%}
        <div class="wrapper">
            <header class="home-banner full-width-background">
                 <div class="home-banner-wrapper">
                    {%- if page.header -%}
                        <h1 class="home-banner__header-main">{{ page.header }}</h1>
                    {%- endif -%}

                    {%- if page.header-sub -%}
                        <h2 class="home-banner__header-sub">{{ page.header-sub }}</h2>
                    {%- endif -%}

                    {%- if page.header-sub -%}
                        <p class="home-banner__description">{{ page.header-description }}</p>
                    {%- endif -%}
                </div>
            </header>
            
            <main class="page-content" aria-label="Content">
				<!-- Display all featured pages in the 'Work' collection -->
                {% include feed-work.html featured-only=true %}	

                <!-- Display all featured pages in the 'Posts' collection -->
                {% include feed-blog.html featured-only=true %}
                
                {{ content }}
            </main>
        </div>

		{%- include footer.html -%}
  </body>

</html>





