<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>
		{%- include header.html -%}
        
        <div class="full-width-background-wrapper">
            <header class="home-banner full-width-background">
                <div class="home-banner-text-wrapper">
                    <div class="wrapper">
                        {%- if page.header -%}
                            <h1 class="home-banner__header-main home-styled-text">{{ page.header }}</h1>
                        {%- endif -%}

                        {%- if page.header-sub -%}
                            <h2 class="home-banner__header-sub home-styled-text">{{ page.header-sub }}</h2>
                        {%- endif -%}

                        {%- if page.header-description -%}
                            {%- for line in page.header-description -%}
                                <p class="home-banner__description">{{ line }}</p>
                            {%- endfor -%}

                        {%- endif -%}
                    </div>
                </div>
            </header>
        </div>
            
        <div class="wrapper">
            <main class="page-content" aria-label="Content">
                <section class="col-display">
                    <!-- Display all featured pages in the 'Work' collection -->
                    <div class="col--half">
                        <h2 class="post-list-heading">Featured Work</h2>
                        {%- include feed-work.html featured-only=true -%}	
                    </div>
                    
                    <!-- Display all featured pages in the 'Posts' collection -->                  
                    <div class="col--half">
                        <h2 class="post-list-heading">Featured Posts</h2>
                        {%- include feed-blog.html featured-only=true -%}
                    </div>

                </section>

                
                {{ content }}
            </main>
        </div>
        
		{%- include footer.html -%}
  </body>

</html>





